@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&family=Roboto+Condensed&display=swap');

body {
  height: fit-content;
  margin: 0;
  padding: 0;
  font-family: 'Star Jedi V2', sans-serif;
    color: #FFFFFF;
  overflow-x: hidden;
}

h1,
h2,
h3 {
  font-family: 'Orbitron', sans-serif;
}

button,
a {
  border: 1px solid transparent;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 0px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 4px;
  position: relative;
  overflow: hidden;
}